---
import Layout from '../layouts/Layout.astro';
import ContentCat from '../components/ContentCat.astro';
---

<Layout title="Cats">
	<!-- <section class="w-full h-screen">
		<h1 class="text-6xl" >Cats</h1>
	</section> -->
	
</Layout>