---
import Layout from '../layouts/Layout.astro';
import ContentDog from '../components/ContentDog.astro';
---

<Layout title="Dogs">
	<section class="w-full h-screen">
		<h1>Dogs</h1>
	</section>
</Layout>