---
import Layout from '../layouts/Layout.astro';
// import ContentCat from '../components/ContentCat.astro';

---

<Layout title="Dev Web">
	<h1>Página de inicio</h1>
	<!-- <ContentCat /> -->
</Layout>